$gris        = #ecf0f1
$gris-oscuro = #95a5a6
$primary     = #2c3e50
$info        = #3498db
$success     = #18bc9c

// $footer_height = 232px
html
  height 100%
  margin        0
body
  // min-height 100%
  font-size 16px

.bg-gris
  bg $gris
.navbar-brand 
  padding   0px
  > img 
    height  100%
    padding 10px 15px 10px 5px
    width   auto
    display inline-block
  span
    font-weight 900
    
    
.has-header
  margin-top 60px

.table>tbody>tr>td
  vertical-align middle
  
.footer
  bg            $success
  width         100%
  padding       25px 0 15px
  // margin-top    25px
  border-bottom 10px solid rgba(black, .5)
  .logo
    text-align    center
    margin-bottom 15px
    h2
      margin      5px 0 15px
      font-weight 900
      // display inline-block
      // vertical-align middle
    img
      // vertical-align middle
      width 75px
      // display inline-block
.big-logo
  width  250px
  margin 0 auto
    
form
  textarea 
    resize vertical
  input[type=file]
    border none
    outline none
    &:focus
      outline none
  &.login    
    margin    0 auto
    padding   75px 15px
    overflow  auto
    max-width 480px
  
.margin-top-xs
  margin-top 5px
  
.profesor
  font-weight bold
  span
    font-weight normal
    font-size .75em
    
.lista-estudiantes
  margin     0
  padding    0
  list-style none
  h3
    font-weight bold
  li
    padding-left  15px
    margin 0

.big-text
  font-size 20px
  
.list
  margin     0
  padding    0
  list-style none
  li
    margin        0
    margin-left   2em
    padding       0
    font-size     20px
    line-height   1.25
    margin-bottom 5px
    position      relative
    &:before
      content "\2605"
      absolute left -1.5em
      color $success
      
    

.what-is
  bg            $primary
  color         rgba(white, .9)
  padding       50px
  font-size     26px
  text-align    center
  h2
    font-weight bold
    font-size 38px
    margin 15px 0 10px
  p.small
    text-transform uppercase
    font-size 18px
    color $success
  &.small
    font-size 20px
    text-align left
  
.no-margin-bottom
  margin-bottom 0
  
.padding-vertical-md
  padding-top    25px
  padding-bottom 25px
.padding-top-md
  padding-top 25px
.padding-top-lg
  padding-top 50px
  
.sections
  .section
    padding 35px 0
    img
      max-width 200px
    &:nth-child(odd)
      bg $gris
  &.even
    .section
      &:nth-child(odd)
        bg none
      &:nth-child(even)
        bg $gris

.subtitle
  margin 25px 0 20px
        
.img-md
  max-width 200px
  display block
  margin 0 auto
  
.link-white
  color           white
  text-decoration none
  &:hover
    color           rgba(white, .75)
    text-decoration none
  &:visited
    color white
    
.autor
  margin-top 25px
  padding    15px 0
  img
    border-radius 50%
    width 200px

.bg
  color rgba(white, .85)
  background: linear-gradient(0deg, #21abc7, #616db3);
  position relative
  &:before
    bg "../images/bg.svg"
    content ''
    left 0
    right 0
    top 0
    bottom 0
    position absolute
    opaciti .5
  h1
    font-weight bold
    
.logos
  font-size 0
  .logo
    width          25%
    margin         0
    padding        15px 20px
    display        inline-block
    vertical-align middle
    transition all .15s
    &:hover
      transform scale(1.15)
    a
      display    block
      text-align center
    img
      width 100%
    