html {
  height: 100%;
  margin: 0;
}
body {
  font-size: 16px;
}
.bg-gris {
  background-color: #ecf0f1;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  padding: 10px 15px 10px 5px;
  width: auto;
  display: inline-block;
}
.navbar-brand span {
  font-weight: 900;
}
.has-header {
  margin-top: 60px;
}
.table>tbody>tr>td {
  vertical-align: middle;
}
.footer {
  background-color: #18bc9c;
  width: 100%;
  padding: 25px 0 15px;
  border-bottom: 10px solid rgba(0,0,0,0.5);
}
.footer .logo {
  text-align: center;
  margin-bottom: 15px;
}
.footer .logo h2 {
  margin: 5px 0 15px;
  font-weight: 900;
}
.footer .logo img {
  width: 75px;
}
.big-logo {
  width: 250px;
  margin: 0 auto;
}
form textarea {
  resize: vertical;
}
form input[type=file] {
  border: none;
  outline: none;
}
form input[type=file]:focus {
  outline: none;
}
form.login {
  margin: 0 auto;
  padding: 75px 15px;
  overflow: auto;
  max-width: 480px;
}
.margin-top-xs {
  margin-top: 5px;
}
.profesor {
  font-weight: bold;
}
.profesor span {
  font-weight: normal;
  font-size: 0.75em;
}
.lista-estudiantes {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lista-estudiantes h3 {
  font-weight: bold;
}
.lista-estudiantes li {
  padding-left: 15px;
  margin: 0;
}
.big-text {
  font-size: 20px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list li {
  margin: 0;
  margin-left: 2em;
  padding: 0;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 5px;
  position: relative;
}
.list li:before {
  content: "\2605";
  position: absolute;
  left: -1.5em;
  color: #18bc9c;
}
.what-is {
  background-color: #2c3e50;
  color: rgba(255,255,255,0.9);
  padding: 50px;
  font-size: 26px;
  text-align: center;
}
.what-is h2 {
  font-weight: bold;
  font-size: 38px;
  margin: 15px 0 10px;
}
.what-is p.small {
  text-transform: uppercase;
  font-size: 18px;
  color: #18bc9c;
}
.what-is.small {
  font-size: 20px;
  text-align: left;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.padding-vertical-md {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padding-top-md {
  padding-top: 25px;
}
.padding-top-lg {
  padding-top: 50px;
}
.sections .section {
  padding: 35px 0;
}
.sections .section img {
  max-width: 200px;
}
.sections .section:nth-child(odd) {
  background-color: #ecf0f1;
}
.sections.even .section:nth-child(odd) {
  background: none;
}
.sections.even .section:nth-child(even) {
  background-color: #ecf0f1;
}
.subtitle {
  margin: 25px 0 20px;
}
.img-md {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.link-white {
  color: #fff;
  text-decoration: none;
}
.link-white:hover {
  color: rgba(255,255,255,0.75);
  text-decoration: none;
}
.link-white:visited {
  color: #fff;
}
.autor {
  margin-top: 25px;
  padding: 15px 0;
}
.autor img {
  border-radius: 50%;
  width: 200px;
}
.bg {
  color: rgba(255,255,255,0.85);
  background-image: -webkit-linear-gradient(bottom, #21abc7, #616db3);
  background-image: linear-gradient(0deg, #21abc7, #616db3);
  position: relative;
}
.bg:before {
  background-image: url("../images/bg.svg");
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opaciti: 0.5;
}
.bg h1 {
  font-weight: bold;
}
.logos {
  font-size: 0;
}
.logos .logo {
  width: 25%;
  margin: 0;
  padding: 15px 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.logos .logo:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.logos .logo a {
  display: block;
  text-align: center;
}
.logos .logo img {
  width: 100%;
}
.recursos .recurso h2 {
  color: #2c3e50;
  font-size: 36px;
  font-weight: normal;
}
.recursos .recursos-links {
  text-align: center;
  margin-top: 15px;
  font-size: 0;
}
.recursos .recursos-links a {
  background-color: #2c3e50;
  color: rgba(255,255,255,0.5);
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.recursos .recursos-links a:last-child {
  margin-right: 0px;
}
.recursos .recursos-links a:hover {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
.recursos .recursos-links a:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.recursos .recursos-links a > * {
  vertical-align: middle;
}
.recursos .recursos-links a img {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  width: 35px;
}
.big-img-link {
  color: rgba(52,152,219,0.75);
  display: inline-block;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.big-img-link:hover {
  color: rgba(52,152,219,0.95);
  text-decoration: none;
}
.big-img-link:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.big-img-link img {
  width: 200px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.remodal-close {
  right: 0;
  left: auto;
}
.remodal {
  max-width: 990px;
}
